<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
  <link rel="manifest" href="/images/favicon/site.webmanifest" />
  <!-- <link rel="shortcut icon" href="/images/favicon-img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon-img/favicon.ico" type="image/x-icon"> -->


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/book_detail.css" />
  <link rel="stylesheet" href="/css/modal/edit_modal.css" />
  <link rel="stylesheet" href="/css/modal/delete_modal.css" />

  <title><%= pageTitle %></title>
</head>

<body>
  <div class="grid-container">
    <!-- header -->
    <section class="cover-image-container">
      <img src="<%= book.imageURL %>" alt="book-cover" />
      <nav class="top-navbar">
        <div class="back-button">
          <a href="/admin"><i class="fa fa-arrow-circle-left"></i></a>
        </div>
        <div class="menu-items">
          <ul>
            <li>
              <a id="edit" data-toggle="modal" data-target="#exampleModalCenter">Edit</a>
            </li>
            <li>
              <form action="/admin/delete-book" method="POST">
                <input type="hidden" name="id" value="<%= book._id%>">
                <button id="delete" type="submit">Delete</button>
              </form>
              <!-- <a data-toggle="modal" data-target="#exampleModalCenter">Delete</a> -->
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <!-- header -->

    <!-- content -->
    <div class="grid-templates-content">
      <section class="header-title-container">
        <div class="header-wrapper">
          <div class="genre-label">
            <div class="label-text">
              <p>Novel</p>
            </div>
          </div>
          <div class="main-header">
            <ul>
              <li>
                <h1><%= book.title %></h1>
              </li>
              <li>
                <h3><%= book.status %></h3>
              </li>
            </ul>
          </div>
          <div class="date-header">
            <p>February, 29th 2020</p>
          </div>
        </div>
        <div class="content-wrapper">
          <main>
            <p>
              <%= book.description %>
            </p>
          </main>
        </div>
      </section>

      <!-- <section class="book-content-container">

      </section> -->

      <section class="borrow-button-container">
        <aside class="aside-items">
          <div class="book-cover-img">
            <img src="<%= book.imageURL %>" alt="book-cover.img" />
          </div>
          <div class="borrow-btn">
            <button>Borrow</button>
          </div>
        </aside>
      </section>
    </div>
    <!-- content -->
  </div>

  <!-- Modal -->

  <!-- Edit Modal -->
  <div id="editModal" class="edit-modal">
    <!-- Edit Modal content -->
    <div class="edit-modal-content">
      <div class="edit-modal-header">
        <span class="close">&times;</span>
        <p>Edit Data</p>
      </div>
      <div class="edit-modal-body">
        <div class="form-wrapper">
          <form action="/admin/edit-book" method="POST">
            <div class="row">
              <div class="col-20">
                <label for="image-url">URL Image</label>
              </div>
              <div class="col-80">
                <input type="text" id="imageURL" value="<%= book.imageURL %>" name="imageURL"
                  placeholder="URL Image.." />
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="book-title">Title</label>
              </div>
              <div class="col-80">
                <input type="text" id="bookTitle" value="<%= book.title %>" name="bookTitle" placeholder="Title.." />
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="book-description">Description</label>
              </div>
              <div class="col-80">
                <textarea id="description" name="description" placeholder="Description.."
                  style="height:200px"><%= book.description %></textarea>
              </div>
            </div>
            <div class="row">
              <input type="hidden" name="id" value=<%= book._id%>>
              <button type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end of Add  Modal -->

  <!-- Delete  Modal -->
  <div id="deleteModal" class="delete-modal">
    <!-- DeleteModal content -->
    <div class="delete-modal-content">
      <div class="delete-modal-header">
        <span class="close">&times;</span>
      </div>
      <div class="delete-modal-body">
        <div class="body-wrapper">
          <img src="/images/checked.png" alt="" srcset="" />
          <h2>Data <span>Dilan 1990</span> Berhasil Dihapus!</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- end of Modal -->
  <!-- script -->
  <script src="/js/edit_modal.js"></script>
  <script src="/js/delete_modal.js"></script>
</body>

</html>